:root {
  --bg-slate-50: rgb(248 250 252);
  --bg-slate-100: rgb(241 245 249);
  --bg-slate-300: rgb(203 213 225);
  --text-slate-900: rgb(15 23 42);
  --text-slate-600: rgb(71 85 105);
}
body {
  direction: rtl;
  line-height: 1.5;
  font-size: 16px;
  font-family: "vazir", Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: var(--text-slate-600);
}
.section {
  background-color: var(--bg-slate-100);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
}
.hidden {
  display: none !important;
}
.main-content {
  padding-right: 270px;
}
.padding-rl-15 {
  padding: 0 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding: 60px 0 70px 0;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-slate-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 70px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  right: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 35px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.1);
}
.aside {
  width: 270px;
  height: 100%;
  padding: 30px;
  border-left: 1px solid var(--bg-slate-300);
  background-color: var(--bg-slate-50);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
}
.aside .logo a {
  color: var(--text-slate-900);
  font-weight: 600;
  padding: 15px 20px;
  font-size: 30px;
  position: relative;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 5px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 5px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-slate-300);
  cursor: pointer;
  position: fixed;
  right: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-slate-50);
  display: none;
  align-items: center;
  justify-content: center;
}
.aside .nav-toggler span {
  width: 18px;
  height: 2px;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler span::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler span::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-slate-300);
  color: var(--text-slate-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
/* home section */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-slate-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello {
  font-size: 20px;
  margin: 15px 0;
}
h3.hello span {
  font-size: 25px;
  font-weight: 600;
  color: var(--skin-color);
}
h3.my-professtion {
  font-size: 25px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 60px;
  font-size: 20px;
  color: var(--text-slate-600);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 0 15px;
  border-top: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  top: -40px;
}
.home-img::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 0 15px;
  border-bottom: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  bottom: -40px;
}
.home .home-img img {
  height: 350px;
  margin: auto;
}
/* about section */
.about .about-content {
  flex: 0 0 100%;
  width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600px;
  color: var(--text-slate-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-slate-600);
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 500;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-slate-900);
  border-bottom: 1px solid var(--bg-slate-300);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-slate-600);
  margin-right: 4px;
}
.about .about-content .personal-info .info-item p a {
  font-weight: 400;
  margin-right: 4px;
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin: 10px 0 0 15px;
}
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-slate-900);
}
.about .about-content .skills .skill-item .progress {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: var(--bg-slate-300);
  border-radius: 3px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  left: 0;
  top: -25px;
  color: var(--text-slate-900);
  font-weight: 400;
  font-size: 14px;
}
.about .about-content .learning,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
  color: var(--text-slate-900);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-slate-50);
  width: 100%;
  position: relative;
  padding: 30px 15px;
  border: 1px solid var(--bg-slate-300);
  border-radius: 5px;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding: 0 37px 40px 0;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 5px;
  top: 0;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--text-slate-600);
}
.about .about-content .timeline .timeline-date .fa {
  margin-left: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--text-slate-900);
}
.about .about-content .timeline .timeline-text {
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
  color: var(--text-slate-600);
}
/* service section */
.service .container {
  padding-bottom: 40px;
}
.service .service-item {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 25px;
}
.service .service-item .service-item-inner {
  background-color: var(--bg-slate-50);
  border: 1px solid var(--bg-slate-300);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.1);
}
.service .service-item .service-item-inner .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa,
.service .service-item .service-item-inner .icon .fa-brands {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon {
  background-color: var(--skin-color);
  box-shadow: 0 0 5px var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa,
.service .service-item .service-item-inner:hover .icon .fa-brands {
  font-size: 25px;
  color: #fff;
}
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text-slate-900);
}
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-slate-600);
  line-height: 25px;
}
/* portfolio section */
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-slate-900);
  font-weight: 400;
}
.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}
.portfolio .portfolio-item-inner {
  border: 5px solid var(--bg-slate-50);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}
/* contact section*/
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.contact-sub-title {
  color: var(--text-slate-900);
  text-align: center;
  font-size: 16px;
  margin-bottom: 60px;
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa-solid,
.contact .contact-info-item .icon .fa-brands {
  font-size: 35px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-slate-900);
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--text-slate-600);
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--bg-slate-50);
  border: 1px solid var(--bg-slate-300);
  padding: 10px 20px;
  font-size: 16px;
  font-family: "vazir", Helvetica, sans-serif;
  color: var(--text-slate-600);
  transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 4, 77, 0.1);
}
.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}
.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
  border: none;
  direction: rtl;
  font-family: "vazir", Helvetica, sans-serif;
}
/* responsive */
@media (max-width: 1199px) {
  .aside {
    right: -270px;
  }

  .main-content {
    padding-right: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .main-content .home.section .container .row {
    flex-direction: column-reverse;
  }
  .about .about-content .learning,
  .about .about-content .experience,
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
